@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", sans-serif;
  background-color: #000;
  color: white;
}

.tag {
  @apply bg-gray-700 text-white text-xs font-medium px-2.5 py-0.5 rounded mr-2 mb-2;
}

.experience-junior {
  @apply bg-green-800 text-green-100;
}

.experience-mid {
  @apply bg-yellow-800 text-yellow-100;
}

.experience-senior {
  @apply bg-purple-800 text-purple-100;
}
